<div id="systems">
  <h1><%= title %></h1>
  <% systems.each do |system| %>
    <%= link_to system_path(system.id), class:"system" do %>
      <p><%= system.name %></p>
    <% end %>
  <% end %>
</div>
